.Footer {
  background-color: #282c34;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.Footer-bio {
  width: 35vw;
}

.Footer-bio h4 {
  margin-bottom: 0;
}

.Footer-bio p {
  margin: 5px 0 0 0;
}