.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 16vh 70vh 14vh;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

Header {
  grid-area: header;
}

Footer {
  grid-area: footer;
}
